
body{
	line-height:1.7em;
	color:#000;
	letter-spacing:0.1em;
    font-family:"Times New Roman", Times, serif;
    text-align: justify;
}

a{
	text-decoration:none;
	color:inherit;
}

hr {
  border: 0;
  width: 10%;
  border-bottom: 2px dotted #000;
}

.interactive
{
    font-style:italic;
    font-weight:bold;
}

.cancel
{
    font-size:0.9em;
    border-bottom: 1px dotted #000;
    margin: 0 1em 0 0 ;
}

.action 
{
	font-size:1em;
	border-bottom: 1px dotted #000;
	margin: 0 1em 0 0 ;
}

.action-clicked
{
	color:#666;
}

.has-changed 
{
	color:#C00;
}

.object-no-actions 
{
	font-style:italic;
	font-weight:bold;
	font-size:1.2em;
	
}

.first-letter
{
	float:left;
	font-size:2em;
    margin:0 0.075em 0 0 ;
}

.object-has-actions 
{
	font-style:italic;
	font-weight:bold;
	font-size:1.1em;
	border-bottom: 1px dotted #000;
}

.object-clicked
{
	color:#666;
}


#container{
    max-width: 500px;
    margin: auto;
}

#TTWSay
{
	font-style:italic;
    font-size: 1em;
	padding:5px;
    line-height:1.5em;
}

#TTWPlace
{
	padding:5px;
}

#TTWActions
{
	padding:5px;
}

#TTWChoice
{
	padding:5px;
}



